.transaction{
  text-align: center;
  font-size: 50px;
  font-family:sans-serif;
  color:#45a049;
  padding-top: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.month-selector, .year-selector {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.month-selector label, .year-selector label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.month-selector select, .year-selector select {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.month-selector select:focus, .year-selector select:focus {
  border-color: #3e8e41;
  box-shadow: 0 0 5px rgba(62, 142, 65, 0.5);
  outline: none;
}

.month-selector select:hover, .year-selector select:hover {
  border-color: #3e8e41;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #4CAF50;
  outline: none;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #4CAF50;
  color: white;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tr:hover {
  background-color: #ddd;
}

.product-table img {
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}
